 /* *{
  border: 2px solid red;
}  */
.Header{
  font-size: 100px;
  text-align: center;
}

.read-the-docs {
  color: #888;
}

.Checkswitch{
  display: flex;
  flex-direction: row;
}

.Switch{
  padding: 4Rem;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}



.room{
  padding: 2rem;
  text-align: center;
  box-shadow: 10px;
  text-shadow: #F4EBD0;
}

p {
  font-size: 80px;
  color: #F4EBD0;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #B68D40, 0 0 30px #B68D40, 0 0 40px #D6AD60, 0 0 50px #B68D40, 0 0 60px #B68D40, 0 0 70px #B68D40;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #D6AD60, 0 0 40px #D6AD60, 0 0 50px #D6AD60, 0 0 60px #D6AD60, 0 0 70px #D6AD60, 0 0 80px #D6AD60;
  }
}
